# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.env
.env.local

# System Files
.DS_Store
Thumbs.db

apps/lvwebapp/src/app/model/
apps/game-platform/src/assets/textures/cayley_interior_4k.hdr
.qodo

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
node_modules
dist/
build/
*.esm.js
.env